<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">{{site.username}}</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>
            <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>
            <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>
              <a aria-label="Ver o CV" title="CV " target="_blank" href="{{ "/assets/img/White and Dark Blue Modern Professional Resume.pdf" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
             <a aria-label="Ver o video" title="Ver o video" target="_blank" href="{{ "/assets/img/WhatsApp Video 2026-05-03 at 19.46.18.mp4" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
             <a aria-label="Ver a carta de apresentacao" title="Carta de Apresentacao" target="_blank" href="{{ "/assets/img/Carta de apresentacao.pdf" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>

        </div>

        <ul class="recent">
            <h3 style="color:white;" >Sobre mim:</h3>
                <li>
                    <p  style="color:white;" class="post-title" itemprop="name">Estudante de Engenharia Informática com interesse em desenvolvimento de software, com foco em Java e bases de dados. Tenho vindo a desenvolver projetos práticos que envolvem lógica de programação, estruturas de dados e organização de código. Valorizo a aprendizagem contínua, a resolução de problemas e o desenvolvimento de soluções eficiente</p>
                    </a>
                </li>
        </ul>

        <ul class="recent">
            <h3 style="color:white;" >Recent projects:</h3>
             
                    <h2 class="post-title" itemprop="name">Desenvolvedor Java, POO e Encapsulamento</h2>
                     <h2 class="post-title" itemprop="name">Gestão Acadêmica em Java, Lógica de Negócio e Cálculos</h2>
                    </a>
                </li>
        
        </ul>

    </div>
    {% include menu-search.html %}
</header>
